/*
 * GitHub programming languages color dots in CSS
 * https://github.com/kkmzero/css-langdot
 * 2021, Ivan Kmeťo
 *
 * CC0 1.0 Universal (CC0 1.0) Public Domain Dedication
 * https://creativecommons.org/publicdomain/zero/1.0/
 */


.lang {
    height: 8px;
    width: 8px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}


.onec-enterprise { background-color: #814ccc !important; }
.four-d { background-color: #004289 !important; }
.abap { background-color: #e8274b !important; }
.abap-cds { background-color: #555e25 !important; }
.actionscript { background-color: #882b0f !important; }
.ada { background-color: #02f88c !important; }
.adobe-font-metrics { background-color: #fa0f00 !important; }
.agda { background-color: #315665 !important; }
.ags-script { background-color: #b9d9ff !important; }
.aidl { background-color: #34eb6b !important; }
.al { background-color: #3aa2b5 !important; }
.alloy { background-color: #64c800 !important; }
.alpine-abuild { background-color: #0d597f !important; }
.altium-designer { background-color: #a89663 !important; }
.ampl { background-color: #e6efbb !important; }
.angelscript { background-color: #c7d7dc !important; }
.ant-build-system { background-color: #a9157e !important; }
.antlr { background-color: #9dc3ff !important; }
.apacheconf { background-color: #d12127 !important; }
.apex { background-color: #1797c0 !important; }
.api-blueprint { background-color: #2acca8 !important; }
.apl { background-color: #5a8164 !important; }
.apollo-guidance-computer { background-color: #0b3d91 !important; }
.applescript { background-color: #101f1f !important; }
.arc { background-color: #aa2afe !important; }
.asciidoc { background-color: #73a0c5 !important; }
.asl { background-color: #cccccc !important; }
.asp-net { background-color: #9400ff !important; }
.aspectj { background-color: #a957b0 !important; }
.assembly { background-color: #6E4C13 !important; }
.astro { background-color: #ff5a03 !important; }
.asymptote { background-color: #ff0000 !important; }
.ats { background-color: #1ac620 !important; }
.augeas { background-color: #9cc134 !important; }
.autohotkey { background-color: #6594b9 !important; }
.autoit { background-color: #1c3552 !important; }
.avro-idl { background-color: #0040ff !important; }
.awk { background-color: #c30e9b !important; }
.ballerina { background-color: #ff5000 !important; }
.basic { background-color: #ff0000 !important; }
.batchfile { background-color: #c1f12e !important; }
.beef { background-color: #a52f4e !important; }
.befunge { background-color: #cccccc !important; }
.bibtex { background-color: #778899 !important; }
.bicep { background-color: #519aba !important; }
.bison { background-color: #6a463f !important; }
.bitbake { background-color: #00bce4 !important; }
.blade { background-color: #f7523f !important; }
.blitzbasic { background-color:#00ffae  !important; }
.blitzmax { background-color: #cd6400 !important; }
.bluespec { background-color: #12223c !important; }
.boo { background-color: #d4bec1 !important; }
.boogie { background-color: #c80fa0 !important; }
.brainfuck { background-color: #2f2530 !important; }
.brightscript { background-color: #662d91 !important; }
.browserslist { background-color: #ffd539 !important; }
.c { background-color: #555555 !important; }
.cs { background-color: #178600 !important; }
.cxx { background-color: #f34b7d !important; }
.c2hs-haskell { background-color: #cccccc !important; }
.cabal-config { background-color: #483465 !important; }
.capn-proto { background-color: #c42727 !important; }
.cartocss { background-color: #cccccc !important; }
.ceylon { background-color: #dfa535 !important; }
.chapel { background-color: #8dc63f !important; }
.charity { background-color: #cccccc !important; }
.chuck { background-color: #3f8000 !important; }
.cirru { background-color: #ccccff !important; }
.clarion { background-color: #db901e !important; }
.classic-asp { background-color: #6a40fd !important; }
.clean { background-color: #3f85af !important; }
.click { background-color: #e4e6f3 !important; }
.clips { background-color: #00a300 !important; }
.clojure { background-color: #db5855 !important; }
.closure-templates { background-color: #0d948f !important; }
.cloud-firestore-security-rules { background-color: #ffa000 !important; }
.cmake { background-color: #da3434 !important; }
.cobol { background-color: #cccccc !important; }
.codeql { background-color: #140f46 !important; }
.coffeescript { background-color: #244776 !important; }
.coldfusion { background-color: #ed2cd6 !important; }
.coldfusion-cfc { background-color: #ed2cd6 !important; }
.collada { background-color: #f1a42b !important; }
.common-lisp { background-color: #3fb68b !important; }
.common-workflow-language { background-color: #b5314c !important; }
.component-pascal { background-color: #b0ce4e !important; }
.cool { background-color: #cccccc !important; }
.coq { background-color: #d0b68c !important; }
.crystal { background-color: #000100 !important; }
.cson { background-color: #244776 !important; }
.csound { background-color: #1a1a1a !important; }
.csound-document { background-color: #1a1a1a !important; }
.csound-score { background-color: #1a1a1a !important; }
.css { background-color: #563d7c !important; }
.csv { background-color: #237346 !important; }
.cuda { background-color: #3a4e3a !important; }
.cue { background-color: #5886e1 !important; }
.cweb { background-color: #00007a !important; }
.cycript { background-color: #cccccc !important; }
.cython { background-color: #fedf5b !important; }
.d { background-color: #ba595e !important; }
.dafny { background-color: #ffec25 !important; }
.darcs-patch { background-color: #8eff23 !important; }
.dart { background-color: #00B4ab !important; }
.dataweave { background-color: #003a52 !important; }
.dhall { background-color: #dfafff !important; }
.digital-command-language { background-color: #cccccc !important; }
.directx-3d-file { background-color: #aace60 !important; }
.dm { background-color: #447265 !important; }
.dockerfile { background-color: #384d54 !important; }
.dogescript { background-color: #cca760 !important; }
.dtrace { background-color: #cccccc !important; }
.dylan { background-color: #6c616e !important; }
.e { background-color: #ccce35 !important; }
.easybuild { background-color: #069406 !important; }

.makefile { background-color: #427819 !important; }
