/*
 * GitHub programming languages color dots in CSS
 * https://github.com/kkmzero/css-langdot
 * 2021, Ivan Kmeťo
 *
 * CC0 1.0 Universal (CC0 1.0) Public Domain Dedication
 * https://creativecommons.org/publicdomain/zero/1.0/
 */


.lang {
    height: 8px;
    width: 8px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}


.onec-enterprise { background-color: #814ccc !important; }
.four-d { background-color: #004289 !important; }
.abap { background-color: #e8274b !important; }
.abap-cds { background-color: #555e25 !important; }
.actionscript { background-color: #882b0f !important; }
.ada { background-color: #02f88c !important; }
.adobe-font-metrics { background-color: #fa0f00 !important; }
.agda { background-color: #315665 !important; }
.ags-script { background-color: #b9d9ff !important; }
.aidl { background-color: #34eb6b !important; }
.al { background-color: #3aa2b5 !important; }
.alloy { background-color: #64c800 !important; }
.alpine-abuild { background-color: #0d597f !important; }
.altium-designer { background-color: #a89663 !important; }
.ampl { background-color: #e6efbb !important; }
.angelscript { background-color: #c7d7dc !important; }
.ant-build-system { background-color: #a9157e !important; }
.antlr { background-color: #9dc3ff !important; }
.apacheconf { background-color: #d12127 !important; }
.apex { background-color: #1797c0 !important; }
.api-blueprint { background-color: #2acca8 !important; }
.apl { background-color: #5a8164 !important; }
.apollo-guidance-computer { background-color: #0b3d91 !important; }
.applescript { background-color: #101f1f !important; }
.arc { background-color: #aa2afe !important; }
.asciidoc { background-color: #73a0c5 !important; }
.asl { background-color: #cccccc !important; }
.asp-net { background-color: #9400ff !important; }
.aspectj { background-color: #a957b0 !important; }
.assembly { background-color: #6E4C13 !important; }
.astro { background-color: #ff5a03 !important; }
.asymptote { background-color: #ff0000 !important; }
.ats { background-color: #1ac620 !important; }
.augeas { background-color: #9cc134 !important; }
.autohotkey { background-color: #6594b9 !important; }
.autoit { background-color: #1c3552 !important; }
.avro-idl { background-color: #0040ff !important; }
.awk { background-color: #c30e9b !important; }
.ballerina { background-color: #ff5000 !important; }
.basic { background-color: #ff0000 !important; }
.batchfile { background-color: #c1f12e !important; }
.beef { background-color: #a52f4e !important; }
.befunge { background-color: #cccccc !important; }
.bibtex { background-color: #778899 !important; }
.bicep { background-color: #519aba !important; }
.bison { background-color: #6a463f !important; }
.bitbake { background-color: #00bce4 !important; }
.blade { background-color: #f7523f !important; }
.blitzbasic { background-color:#00ffae  !important; }
.blitzmax { background-color: #cd6400 !important; }
.bluespec { background-color: #12223c !important; }
.boo { background-color: #d4bec1 !important; }
.boogie { background-color: #c80fa0 !important; }
.brainfuck { background-color: #2f2530 !important; }
.brightscript { background-color: #662d91 !important; }
.browserslist { background-color: #ffd539 !important; }
.c { background-color: #555555 !important; }
.cs { background-color: #178600 !important; }
.cxx { background-color: #f34b7d !important; }
.c2hs-haskell { background-color: #cccccc !important; }
.cabal-config { background-color: #483465 !important; }
.capn-proto { background-color: #c42727 !important; }
.cartocss { background-color: #cccccc !important; }
.ceylon { background-color: #dfa535 !important; }
.chapel { background-color: #8dc63f !important; }
.charity { background-color: #cccccc !important; }
.chuck { background-color: #3f8000 !important; }
.cirru { background-color: #ccccff !important; }
.clarion { background-color: #db901e !important; }
.classic-asp { background-color: #6a40fd !important; }
.clean { background-color: #3f85af !important; }
.click { background-color: #e4e6f3 !important; }
.clips { background-color: #00a300 !important; }
.clojure { background-color: #db5855 !important; }
.closure-templates { background-color: #0d948f !important; }
.cloud-firestore-security-rules { background-color: #ffa000 !important; }
.cmake { background-color: #da3434 !important; }
.cobol { background-color: #cccccc !important; }
.codeql { background-color: #140f46 !important; }
.coffeescript { background-color: #244776 !important; }
.coldfusion { background-color: #ed2cd6 !important; }
.coldfusion-cfc { background-color: #ed2cd6 !important; }
.collada { background-color: #f1a42b !important; }
.common-lisp { background-color: #3fb68b !important; }
.common-workflow-language { background-color: #b5314c !important; }
.component-pascal { background-color: #b0ce4e !important; }
.cool { background-color: #cccccc !important; }
.coq { background-color: #d0b68c !important; }
.crystal { background-color: #000100 !important; }
.cson { background-color: #244776 !important; }
.csound { background-color: #1a1a1a !important; }
.csound-document { background-color: #1a1a1a !important; }
.csound-score { background-color: #1a1a1a !important; }
.css { background-color: #563d7c !important; }
.csv { background-color: #237346 !important; }
.cuda { background-color: #3a4e3a !important; }
.cue { background-color: #5886e1 !important; }
.cweb { background-color: #00007a !important; }
.cycript { background-color: #cccccc !important; }
.cython { background-color: #fedf5b !important; }
.d { background-color: #ba595e !important; }
.dafny { background-color: #ffec25 !important; }
.darcs-patch { background-color: #8eff23 !important; }
.dart { background-color: #00B4ab !important; }
.dataweave { background-color: #003a52 !important; }
.dhall { background-color: #dfafff !important; }
.digital-command-language { background-color: #cccccc !important; }
.directx-3d-file { background-color: #aace60 !important; }
.dm { background-color: #447265 !important; }
.dockerfile { background-color: #384d54 !important; }
.dogescript { background-color: #cca760 !important; }
.dtrace { background-color: #cccccc !important; }
.dylan { background-color: #6c616e !important; }
.e { background-color: #ccce35 !important; }
.easybuild { background-color: #069406 !important; }
.ec { background-color: #913960 !important; }
.ecere-projects { background-color: #913960 !important; }
.ecl { background-color: #8a1267 !important; }
.eclipse { background-color: #001d9d !important; }
.editorconfig { background-color: #fff1f2 !important; }
.eiffel { background-color: #4d6977 !important; }
.ejs { background-color: #a91e50 !important; }
.elixir { background-color: #6e4a7e !important; }
.elm { background-color: #60b5cc !important; }
.emacs-lisp { background-color: #c065db !important; }
.emberscript { background-color: #fff4f3 !important; }
.eq { background-color: #a78649 !important; }
.erlang { background-color: #b83998 !important; }
.f-sharp { background-color: #b845fc !important; }
.f-star { background-color: #572e30 !important; }
.factor { background-color: #636746 !important; }
.fancy { background-color: #7b9db4 !important; }
.fantom { background-color: #14253c !important; }
.faust { background-color: #c37240 !important; }
.fennel { background-color: #fff3d7 !important; }
.figlet-font { background-color: #ffddbb !important; }
.filebench-wml { background-color: #f6b900 !important; }
.filterscript { background-color: #cccccc !important; }
.fish { background-color: #4aae47 !important; }
.fluent { background-color: #ffcc33 !important; }
.flux { background-color: #88ccff !important; }
.forth { background-color: #341708 !important; }
.fortran { background-color: #4d41b1 !important; }
.fortran-free-form { background-color: #4d41b1 !important; }
.freebasic { background-color: #867db1 !important; }
.freemarker { background-color: #0050b2 !important; }
.frege { background-color: #00cafe !important; }
.futhark { background-color: #5f021f !important; }
.g-code { background-color: #d08cf2 !important; }
.game-maker-language { background-color: #71b417 !important; }
.gaml { background-color: #ffc766 !important; }
.gams { background-color: #f49a22 !important; }
.gap { background-color: #0000cc !important; }
.gcc-machine-description { background-color: #ffcfab !important; }
.gdb { background-color: #cccccc !important; }
.gdscript { background-color: #355570 !important; }
.gedcom { background-color: #003058 !important; }
.gemfile-lock { background-color: #701516 !important; }
.genie { background-color: #fb855d !important; }
.genshi { background-color: #951531 !important; }
.gentoo-ebuild { background-color: #9400ff !important; }
.gentoo-eclass { background-color: #9400ff !important; }
.gerber-image { background-color: #d20b00 !important; }
.gherkin { background-color: #5b2063 !important; }
.git-attributes { background-color: #f44d27 !important; }
.git-config { background-color: #f44d27 !important; }
.glsl { background-color: #5686a5 !important; }
.glyph { background-color: #c1ac7f !important; }
.gnuplot { background-color: #f0a9f0 !important; }
.go { background-color: #00add8 !important; }
.go-checksums { background-color: #00add8 !important; }
.go-module { background-color: #00add8 !important; }
.golo { background-color: #88562a !important; }
.gosu { background-color: #82937f !important; }
.grace { background-color: #615f8b !important; }
.gradle { background-color: #02303a !important; }
.grammatical-framework { background-color: #ff0000 !important; }
.graphql { background-color: #e10098 !important; }
.graphviz-dot { background-color: #2596be !important; }
.groovy { background-color: #4298b8 !important; }
.groovy-server-pages { background-color: #4298b8 !important; }
.hack { background-color: #878787 !important; }
.haml { background-color: #ece2a9 !important; }
.handlebars { background-color: #f7931e !important; }
.haproxy { background-color: #106da9 !important; }
.harbour { background-color: #0e60e3 !important; }
.haskell { background-color: #5e5086 !important; }
.haxe { background-color: #df7900 !important; }
.hcl { background-color: #cccccc !important; }
.hiveql { background-color: #dce200 !important; }
.hlsl { background-color: #aace60 !important; }
.holyc { background-color: #ffefaf !important; }
.html { background-color: #e34c26 !important; }
.html-ecr { background-color: #2e1052 !important; }
.html-eex { background-color: #6e4a7e !important; }
.html-erb { background-color: #701516 !important; }
.html-php { background-color: #4f5d95 !important; }
.html-razor { background-color: #512be4 !important; }
.http { background-color: #005c9c !important; }
.hxml { background-color: #f68712 !important; }
.hy { background-color: #7790b2 !important; }
.hyphy { background-color: #cccccc !important; }
.idl { background-color: #a3522f !important; }
.idris { background-color: #b30000 !important; }
.ignore-list { background-color: #000000 !important; }
.igor-pro { background-color: #0000cc !important; }
.imagej-macro { background-color: #99aaff !important; }
.inform-7 { background-color: #cccccc !important; }
.ini { background-color: #d1dbe0 !important; }
.inno-setup { background-color: #264b99 !important; }
.io { background-color: #a9188d !important; }
.ioke { background-color: #078193 !important; }
.isabelle { background-color: #fefe00 !important; }
.isabelle-root { background-color: #fefe00 !important; }
.j { background-color: #9eedff !important; }
.jar-manifest { background-color: #b07219 !important; }
.jasmin { background-color: #d03600 !important; }
.java { background-color: #b07219 !important; }
.java-properties { background-color: #2a6277 !important; }
.java-server-pages { background-color: #2a6277 !important; }
.javascript { background-color: #f1e05a !important; }
.javascript-erb { background-color: #f1e05a !important; }
.jest-snapshot { background-color: #15c213 !important; }
.jflex { background-color: #dbca00 !important; }
.jinja { background-color: #a52a22 !important; }
.jison { background-color: #56b3cb !important; }
.jison-lex { background-color: #56b3cb !important; }
.jolie { background-color: #843179 !important; }
.jq { background-color: #c7254e !important; }
.json { background-color: #292929 !important; }
.json-with-comments { background-color: #292929 !important; }
.json5 { background-color: #267cb9 !important; }
.jsoniq { background-color: #40d47e !important; }
.jsonld { background-color: #0c479c !important; }
.jsonnet { background-color: #0064bd !important; }
.julia { background-color: #a270ba !important; }
.jupyter-notebook { background-color: #da5b0b !important; }
.kaitai-struct { background-color: #773b37 !important; }
.kakounescript { background-color: #6f8042 !important; }
.kicad-layout { background-color: #2f4aab !important; }
.kicad-legacy-layout { background-color: #2f4aab !important; }
.kicad-schematic { background-color: #2f4aab !important; }
.kotlin { background-color: #a97bff !important; }
.krl { background-color: #28430a !important; }
.labview { background-color: #fede06 !important; }
.lark { background-color: #2980b9 !important; }
.lasso { background-color: #999999 !important; }
.latte { background-color: #f2a542 !important; }
.lean { background-color: #cccccc !important; }
.less { background-color: #1d365d !important; }
.lex { background-color: #dbca00 !important; }
.lfe { background-color: #4c3023 !important; }
.lilypond { background-color: #9ccc7c !important; }
.limbo { background-color: #cccccc !important; }
.liquid { background-color: #67b8de !important; }
.literate-agda { background-color: #315665 !important; }
.literate-coffeescript { background-color: #244776 !important; }
.literate-haskell { background-color: #5e5086 !important; }
.livescript { background-color: #499886 !important; }
.llvm { background-color: #185619 !important; }
.logos { background-color: #cccccc !important; }
.logtalk { background-color: #295b9a !important; }
.lolcode { background-color: #cc9900 !important; }
.lookml { background-color: #652b81 !important; }
.loomscript { background-color: #cccccc !important; }
.lsl { background-color: #3d9970 !important; }
.lua { background-color: #000080 !important; }
.m { background-color: #cccccc !important; }
.m4 { background-color: #cccccc !important; }
.m4sugar { background-color: #cccccc !important; }
.macaulay2 { background-color: #d8ffff !important; }
.makefile { background-color: #427819 !important; }
